<div class="card bg-light bg-body-tertiary shadow border-0 rounded-4 p-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <div class="me-3">
                <img src="Portrait_Placeholder.png" id="profile-image" class="rounded-circle"
                    alt="Profile Image" width="50" height="50">
            </div>
            <div>
                <p id="user-name" class="m-0 fw-bold">{{ userSummary().name }}</p>
                <p id="user-position" class="text-muted m-0">{{ userSummary().position }}</p>
            </div>
        </div>
        <div>
            <a [routerLink]="['/profile']"
                class="btn btn-sm border-success bg-white text-success fw-bold px-4">
                View Profile
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-auto col-sm-6 d-flex align-items-center">
            <fa-icon [icon]="userIcon" class="fs-2 me-2 text-secondary"></fa-icon>
            <span>
                <p class="m-0 fw-bold">Reporting To:</p>
                <span id="reporting-to">{{ userSummary().reportingTo }}</span>
            </span>
        </div>
        <div class="col-md-auto col-sm-6 d-flex align-items-center">
            <fa-icon [icon]="arrowIcon" class="fs-1 me-2 text-secondary"></fa-icon>
            <span>
                <p class="m-0 fw-bold">Corporate Level:</p>
                <span id="corporate-level">Level {{ userSummary().corporateLevel }}</span>
            </span>
        </div>
    </div>
</div>