<section class="hero container my-5">
    <app-header />

    <app-user-summary />

    <app-latest-news-slider />

    <app-section
    [icon]="requestsIcon"
    title="Vacation Requests"
    [linkRef]="'/requests'"
    (search)="onSearch($event)"
    >
        <div class="row">
            @for (req of vacationRequests; track req.id) {
                <div class="col-md-3">
                    <app-request-card [request]="req" [searchTerm]="searchTerm"/>
                </div>
            }
        </div>
    </app-section>

</section>