<div class="row mt-5">
    <div class="col-md-6 mt-1">
        <div class="card bg-light bg-body-tertiary shadow border-0 rounded-4 p-3">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex">
                    <div class="me-3">
                        <img src="Portrait_Placeholder.png" id="profile-image" class="rounded-circle" alt="Profile Image" width="50" height="50">
                    </div>
                    <div>
                        <p id="user-name" class="m-0 fw-bold">{{ userSummary?.name }}</p>
                        <p id="user-position" class="text-muted m-0">{{ userSummary?.position }}</p>
                    </div>
                </div>
                <div>
                    <a href="profile.html" class="btn btn-sm border-success bg-white text-success fw-bold px-4">
                        View Profile
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-auto col-sm-6 d-flex align-items-center">
                    <fa-icon [icon]="userIcon" class="fs-2 me-2 text-secondary"></fa-icon>
                    <span>
                        <p class="m-0 fw-bold">Reporting To:</p>
                        <span id="reporting-to">{{ userSummary?.reportingTo }}</span>
                    </span>
                </div>
                <div class="col-md-auto col-sm-6 d-flex align-items-center">
                    <fa-icon [icon]="arrowIcon" class="fs-1 me-2 text-secondary"></fa-icon>
                    <span>
                        <p class="m-0 fw-bold">Corporate Level:</p>
                        <span id="corporate-level">Level {{ userSummary?.corporateLevel }}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-1">
        <div class="container p-0 w-100 h-100">
            <div class="bg-success text-white shadow border-0 rounded-4 p-3 h-100 d-flex justify-content-between">
                <div class="text-center">
                    <fa-icon [icon]="requestsIcon" class="hero-large-icon"></fa-icon>
                    <div>
                        <small class="m-0">Vacation<br>Requests</small>
                    </div>
                </div>
                <div class="hero-large-number d-flex align-items-center justify-content-center w-100">
                    <p id="vacation-requests-count" class="m-0">{{ userSummary?.vacationRequestsCount }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-1">
        <div class="container p-0 w-100 h-100">
            <div class="bg-success text-white shadow border-0 rounded-4 p-3 h-100 d-flex justify-content-between">
                <div class="text-center">
                    <fa-icon [icon]="leaveRequestsIcon" class="hero-large-icon"></fa-icon>
                    <div>
                        <small class="m-0">Leave<br>Requests</small>
                    </div>
                </div>
                <div class="hero-large-number d-flex align-items-center justify-content-center w-100">
                    <p id="leave-requests-count" class="m-0">{{ userSummary?.leaveRequestsCount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>